.card {
  margin: 10px;
  min-width: 220px;
  background-color:  rgb(182, 238, 255);
}

.card-body {
  padding: 20px;
}

.dash-btn-grp {
  display: flex;
  justify-content: flex-end;
}
.dash-btn-grp a button {
  cursor: pointer;
}