nav {
  background-color: rgb(143, 229, 255);
  background-color: var(--plum);
  margin-bottom: 20px;
  position: fixed;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100vw;
}

.logo {
  color: var(--plum);
  text-decoration: none;
}
#logo {
  height: 40px;
}

.logo h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: var(--dark-plum);
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  overflow: scroll;
}

.nav-item {
  margin-right: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.nav-link {
  display: block;
  color: black;
  padding: 10px 0 10px;
  padding-bottom: 5px;
  text-decoration: none;
  letter-spacing: 1px;
  /* font-size: 16px; */
  font-weight: 400;
}

.nav-link:hover {
  color: var(--pear);
  border-bottom: var(--pear) solid 3px;
}
.nav-link.active {
  color: var(--green);
  border-bottom: var(--green) solid 3px;
}
