nav {
  background-color: rgb(143, 229, 255);
  background-color: var(--plum);
  margin-bottom: 20px;
  position: fixed;
  z-index: 10;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100vw;
  padding: 4px;
  margin: 0;
}

.logo-cart {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--plum);
  text-decoration: none;

  display: flex;
}
#logo {
  height: 40px;
}
.logo h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: var(--dark-plum);
}

.item-count {
  position: relative;
  text-align: center;
  width: 50px;
}
.item-count p {
  /* position: absolute; */
  /* margin: 5px 0 0 15px; */
  /* padding-top: 10px; */
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--dark-plum);
  /* left: 15px;
  top: -7px; */
}
#cart {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  top: 15px;
  left: 10px;
  /* margin-left: 10px; */
  /* padding-top: 5px; */
}

.first-name {
  align-self: center;
}
.first-name p {
  margin: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  overflow: scroll;
}

.nav-item {
  margin-right: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.nav-link {
  display: block;
  color: black;
  padding: 10px 0 10px;
  padding-bottom: 1px;
  text-decoration: none;
  letter-spacing: 1px;
  /* font-size: 16px; */
  font-weight: 400;
}
.nav-list > *:last-child {
  padding-right: 5px;
}

.nav-link:hover {
  color: var(--pear);
  border-bottom: var(--pear) solid 3px;
  z-index: 10;
}
.nav-link.active {
  color: var(--green);
  border-bottom: var(--green) solid 3px;
  z-index: 10;
}

@media only screen and (max-width: 502px) {
  .logo-cart {
    min-width: 230px;
  }
}