
/* index */

#chart-div {
  width: 20%
}

.prod-card {
  width: 300px;
  background-color: rgb(250, 245, 245);  
  display: flex;
  flex-direction: column;
  align-items: center; 
  border: solid 3px var(--dark-plum);
  border-radius: 5px;
  box-shadow: 4px 4px 3px;
  padding: 10px;
  margin: 6px;
}

.card-row {
  width: 90%;
  min-width: 200px;
  padding: 3px;
}

.row-name {
  font-weight: 500;
}

.row-like-wrapper,
.row-price-add,
.row-cost-qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: inline;
  margin: 0;
  min-width: 80px;
}
#fav {
  padding: 1px 3px 3px 2px;
  margin: 0 17px 0 0;
  background-color: lightgrey;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  float: none;
}
.heart,
#fav.heart  {
  background-color: rgb(255, 255, 255);
}
#heart {
  width: 90%;
  height: 90%;
  margin: 0;
  border-radius: 5px;
}

.price {
  font-size: 23px;
  font-weight: 600;
  padding: 0 3px;
}
.add {
  width: 25px;
  height: 25px;
  transition: all 0.5s;
  margin-right: 20px;
}
.add:hover {
  cursor: pointer;;
}
.add:active {
  box-shadow: 3px 3px 3px 3px;
  background-color: plum;
}

.quantity {
  min-width: 90px;
}

.row-action {
  display: flex;
  justify-content: space-around;
}
.btn {
  margin: 0 10px;
}


@media only screen and (max-width: 650px) {
  .row-price-add {
    min-width: 250px;
  }
}