@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
  --plum: rgb(206,149,218);
  --dark-plum: rgb(66, 27,73);
  --yellow-pear: rgb(197,170,89);
  --pear: rgb(201, 207, 107);
  --green: rgb(71, 101, 69);
}

* {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
body {
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-top: 60px;
  /* margin-top: 40px; */
  background-image: url('/images/hero_2.jpg');
  background-position: center;
  background-position-x: 45%;
  background-repeat: no-repeat;
  min-height: calc(100vh - 60px);
}
.container {
  width: 60vw;
}

h1, h2, h3, h4 {
  margin: 0;
}
h2 {
  font-size: 26px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Home  */
form,
.products,
.dash-container,
.add-container,
.home-container {
  width: 100%;
  min-height: calc(100vh - 100px);
  padding-bottom: 30px;
}

svg {
  height: calc(100vh - 200px);
  width: 99vw;
}
path {
  fill: transparent;
}
.home-text {
  font-size: 30px;
}

/* Dashboard */
.dash-container {
  width: 90vw;
  padding: 0 20px 20px;
}

/* Index page */
.show-photo, .photo {
  height: 100px;
  width: 80px;
  object-position: center;
  object-fit: cover;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px */
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 10px; */
  color: rgb(33, 37, 41);
}
.title .ind-name {
  background-color: transparent;
}
.title h2 {
  text-align: center;
}

/* Forms */
form {
  display: block;
  max-width: 400px;
  padding: 0 5%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
textarea,
input[type="username"],
input[id="firstname"],
input[id="lastname"],
input[type="email"],
input[type="password"] {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 8px;
  margin: 0 auto 15px;
  font-size: 18px;
}

input[type="submit"],
button[type="button"],
button[type="submit"] {
  background-color: rgb(128, 235, 153);
  color: black;
  padding: 5px 10px;
  font-size: 18px;
  border: 1px solid rgb(71, 165, 93);
  border-radius: 5px;
  float: right;
  cursor: pointer;
}

input[type="checkbox"] {
  transform: scale(1.3);
  margin-left: 15px;
}


@media only screen and (max-width: 650px) {
  .container {
    width: 90vw;
  }
}